[cosmos-proposals-checker](<https://github.com/QuokkaStake/cosmos-proposals-checker>) v{{ .Version }}

Notifies you about the proposals your wallets hasn't voted upon.
Can understand the following commands:
- </proposals:{{ .Commands.proposals.Info.ID }}> - displays active proposals and your wallets' votes on them
- /proposals_mute &lt;duration&gt; &lt;chain&gt; &lt;proposal ID&gt; - mute notifications for a specific proposal
- /proposals_mutes - display the active proposals mutes list
- </help:{{ .Commands.help.Info.ID }}> - display this message

Created by [🐹 Quokka Stake](<https://quokkastake.io>) with ❤️.
If you like what we're doing, consider staking with us!
