<strong>cosmos-proposals-checker</strong>
Notifies you about the proposals your wallets hasn't voted upon.
Can understand the following commands:
- /proposals - displays active proposals and your wallets' votes on them
- /proposals_mute &lt;duration&gt; &lt;chain&gt; &lt;proposal ID&gt; - mute notifications for a specific proposal
- /proposals_mutes - display the active proposals mutes list
- /help - display this command

Created by <a href="https://freak12techno.github.io">freak12techno</a> with ❤️.
This bot is open-sourced, you can get the source code at https://github.com/freak12techno/cosmos-proposals-checker.

If you like what we're doing, consider <a href="https://freak12techno.github.io/validators">staking with us</a>!
