<a href="https://github.com/QuokkaStake/cosmos-proposals-checker">cosmos-proposals-checker</a> v{{ . }}
Notifies you about the proposals your wallets hasn't voted upon.
Can understand the following commands:
- /proposals - displays active proposals and your wallets' votes on them
- /proposals_mute &lt;duration&gt; &lt;chain&gt; &lt;proposal ID&gt; - mute notifications for a specific chain/proposal
- /proposals_unmute [&lt;chain&gt; &lt;proposal ID&gt;] - unmute notifications for a specific chain/proposal
- /proposals_mutes - display the active proposals mutes list
- /params - list chains params
- /tally - list active proposals' tallies
- /help - display this command

Created by <a href="https://quokkastake.io">🐹 Quokka Stake</a> with ❤️.
If you like what we're doing, consider staking with us!
