{{- if not .ChainInfos }}
<strong>No active proposals</strong>
{{- end }}
{{- range .ChainInfos }}
{{- $chain := .Chain -}}
<strong>{{ .Chain.GetName }}</strong>
{{- if .HasProposalsError }}
❌ Error querying for proposals: {{ .ProposalsError }}
{{- end }}
{{- range .ProposalVotes }}
{{- $proposalLink := $chain.GetProposalLink .Proposal }}
Proposal #{{ .Proposal.ID }}: {{ SerializeLink $proposalLink }} (voting ends in {{ .Proposal.GetTimeLeft  }})
{{- range $wallet, $vote := .Votes }}
{{- $walletLink := $chain.GetWalletLink $vote.Wallet -}}
{{- if $vote.IsError }}
❌ Wallet {{ SerializeLink $walletLink }} - error querying: {{ $vote.Error }}
{{- else if $vote.HasVoted }}
✅ Wallet {{ SerializeLink $walletLink }} - voted: {{ $vote.Vote.ResolveVote }}
{{- else }}
🔴 Wallet {{ SerializeLink $walletLink }} - not voted
{{- end }}
{{- end }}
{{ end }}
{{ end }}
