{{ range .ChainInfos }}
{{ $chain := .Chain }}
<strong>{{ .Chain.GetName }}</strong>
{{- if .HasProposalsError }}
❌ Error quering for proposals: {{ .ProposalsError }}
{{- end }}
{{- range .ProposalVotes }}
Proposal #{{ .Proposal.ProposalID }}: {{ .Proposal.Content.Title }}
{{- range $wallet, $vote := .Votes }}
{{- if $vote.IsError }}
❌ Wallet {{ $chain.GetWalletLink $wallet }} - error querying: {{ $vote.Error }}
{{- else if $vote.HasVoted }}
✅ Wallet {{ $chain.GetWalletLink $wallet }} - voted: {{ $vote.Vote.ResolveVote }}
{{- else }}
🔴 Wallet {{ $chain.GetWalletLink $wallet }} - not voted
{{- end }}
{{- end }}
{{ end }}
{{ end }}