{{- $walletLink := .Chain.GetWalletLink .Wallet -}}
↔️ <strong>Wallet {{ SerializeLink $walletLink }} has changed its vote on proposal {{ .Proposal.ID }} on {{ .Chain.GetName }}</strong>
{{ .Proposal.Title }}

Vote: {{ .Vote.ResolveVote }}
Old vote: {{ .OldVote.ResolveVote }}
Voting ends at: {{ .Proposal.GetProposalTime }} (in {{ .Proposal.GetTimeLeft }})

{{ range .Chain.GetExplorerProposalsLinks .Proposal.ID }}{{ SerializeLink .}}
{{ end }}
Sent by <a href='https://github.com/QuokkaStake/cosmos-proposals-checker'>cosmos-proposals-checker.</a>