{{- if not . }}
<strong>No active proposals.</strong>
{{- end }}
{{- range $chainName, $tallyInfos := . }}
{{- if $tallyInfos.TallyInfos }}
<strong>Proposals on chain {{ $tallyInfos.Chain.GetName }}:</strong>
{{ range $tallyInfos.TallyInfos }}
{{- $proposalLink := $tallyInfos.Chain.GetProposalLink .Proposal }}
Proposal #{{ .Proposal.ID }}: {{ SerializeLink $proposalLink }}
Ends in: {{ .Proposal.GetTimeLeft }}
- Not voted: {{ .GetNotVoted }}
- Voted: {{ .GetQuorum }}
- Voted "Abstain": {{ .GetAbstained }}
- Voted "Yes": {{ .GetYesVotes }}
- Voted "No": {{ .GetNoVotes }}
- Voted "NoWithVeto": {{ .GetNoWithVetoVotes }}
{{ end }}
{{- end }}
{{ end }}
