{{- $walletLink := .Chain.GetWalletLink .Wallet -}}
✅ <strong>Wallet {{ SerializeLink $walletLink }} has voted on proposal {{ .Proposal.ProposalID }} on {{ .Chain.GetName }}</strong>
{{ .Proposal.Content.Title }}

Vote: {{ .Vote.ResolveVote }}
Voting ends at: {{ .Proposal.GetProposalTime }} (in {{ .Proposal.GetTimeLeft }})

{{ range .Chain.GetExplorerProposalsLinks .Proposal.ProposalID }}{{ SerializeLink .}}
{{ end }}
Sent by <a href='https://github.com/QuokkaStake/cosmos-proposals-checker'>cosmos-proposals-checker.</a>